extends ../../../layout.pug

block content
	body.theme--square(data-reveal-selectors="section:not(.masonry):not(:first-of-type):not(.parallax)")
		.main-container.transition--fade
			include includes/header_box_love.pug
				.col-sm-10.col-sm-offset-1.text-center
						h3 por solo 35€.
			section
				.container.sheets

					each boxTokke in boxTokkes 
						include includes/singleTokke.pug
			section
				.container.pos-vertical-center
					.col-sm-10.col-sm-offset-1.text-center
						p.lead
							| Configura los Tøkkes a tu gusto. Puedes añadir tantos Tøkkes como desees y borrar los que no quieras.
							| Al finalizar de configurarlos haz la preorden.
							|
						a.btn(href="shop-cart-tokkes.html")
							span.btn__text PREORDENAR BOX LOVE DE 12 TØKKES
		#only-once.modal-container(data-autoshow=(cartItems > 0 ? false : true ))
			.modal-content.height--natural
				.card.card-1
					.card__image.bg--white
						img(alt='Pic', src='/../img/tokke_modal.jpg')
					.card__body.boxed.bg--white.text-center
						.card__title
							h4 ¿Qué hará tu Box Love? Configura aquí sus 12 Tøkkes antes de tu Pre-Orden.
							|
						P 	NO NECESITARÁS NINGUNA TARJETA DE CRÉDITO –NI HACER PAGOS– EN NINGÚN MOMENTO DEL PROCESO.
						a.modal-close.btn.btn--sm(href='#')
							span.btn__text
								| ¡OK! Entendido.
			// end of modal-content

