/***************************
Add your custom styles below
****************************/


/** {
    border: 1px solid red;
}
*/



div.nav-module.right{
    width: 300px;

}


ul.bullets {
    list-style: circle;
}

#phoneModel_input, #phoneBrand_input, #phoneBrand_button{
    display: inline-block;
    flex: 0 1 auto;
    flex-wrap: wrap;
    width: 32%;
    margin-bottom: 0px;
}

#margin-cero, #margin-cero-1, #margin-cero-2, #margin-cero-3 {
    margin-bottom: 0px;
}

#margin-cero-2 {
   padding-bottom: 2em;
}

#margin-cero-3, #margin-cero-4 {
       padding-bottom: 1em;
   padding-bottom: 2em;
}


#margin-cero-5 {
       padding-bottom: -3em;
  margin-bottom: -5em;
}



#margin-forty {
    margin-bottom: 40px;
}


section.search {

        padding-top: 3em;
     padding-bottom: 1em;}


}
#phone-search {
    display: flex;
    justify-content: space-between;
}

#phone-list {
        display: flex;
    justify-content: center;
    width: 100%
}


#close-modal {
    border-color: #adaba1;
    width: 200px;
    margin-right: 0;
    margin-top: 50px;
    margin-bottom: 50px;
}

#close-modal:hover {
    background: gray;
    color: white;
    border: darkgrey;
}



.colorBlue {
    background: blue;
}
.colorGreen {
    background: green;
}
#QuestionOptionsTwo {
    margin-bottom: 20px;
}
.but_pad_0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.shadow_price:hover {
    box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.25);
}
.btn--primary.btn:hover {
    background-color: RoyalBlue;
    border-color: RoyalBlue;
    /*    border: 0px
}
section.short-padding {
    padding-top: 2em;
    padding-bottom: 0.125em;
}
.boxed {
    position: relative;
    overflow: hidden;
    padding: 2.4375em;
    margin-bottom: 0px;
}
.modal-instance {
    position: relative;
    display: block;

}


.gray-background{
    background-image: linear-gradient(#e7e8e8,  #f8f8f8 90%, white);
}
@media all and (max-width: 767px) {
    .square-litle {
        text-align: center;
    }
}

@media all and (max-width: 767px) {
    #tokke-modal {
        display: none;
    }
}


@media all and (max-width: 767px) {
    #tokke-modal-2 {
        display: none;
    }
}



square-litle {
    width: 70px;
    height: 70px; 
}

.header-config {
display: inline-flex;
text-align: left;
    align-items: center;
    vertical-align: center
    justify-content: center;
    align-content: center;
    margin-top: -20px;
    margin-bottom: -20px;

}

/*.btn + .btn {
    margin-left: 0px;
}*/
select,
option {
    background: white;
    color: #284e9a;
    border-radius: 0px;
    border: 1px;
    border-color: #284e9a;
    font-family: arial;
    padding-right: 15px;
        margin-bottom: 20px
}




#origin-msg-phone,
#destination-msg-phone,
#origin-phone,
#destination-phone,
#message-to-send {
    background: white;
    color: #284e9a;
    border-radius: 0px;
    font-family: arial;
    padding-right: 15px;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
}
.smartphone-4:before {
    content: "\ea90";
}
.input-with-icon label + i {
    top: 66px;
}

/* For mobile phones: */
@media (max-width: 400px) {
    .input-with-icon label + i {
        top: 58px;
    }
}
@media (max-width: 700px) {
    .input-with-icon label + i {
        top: 58px;
    }
}
@media (max-width: 950px) {
    .input-with-icon label + i {
        top: 63px;
    }
}
.second_action {
    padding-top: 20px;
}
.btn-danger {
    color: #ffffff;
    background-color: #d9534f;
    border-color: #d43f3a;
    border-color: #e0a70c
}


#border-radius-active-1 {
    margin-bottom: 8px;
}

#border-radius-active-1:hover {
    border-color: #33911d;
    color: white;
}


#config_button0 {
    margin-left: 0px;
    color: white !important;
         padding-right: 0em; 
     padding-left: 0em; 
}

#config_button0:hover {
      color: white;
    margin-left: 0px;
    border-color: #1f88be;


}

#config_button {
    display: flex;
    margin-top: 10px;
    flex-grow: 0;
    flex-shrink: 1;
    align-items: stretch;
}
#config_button_1 {
    background: #e7e7e7;
    flex-grow: 1;
    color: grey;
    border: 0px;
    width: 50%;
             padding-right: 0em; 
     padding-left: 0em; 
}

#config_button_2 {
    background: #e7e7e7;
    flex-grow: 1;
    color: grey;
    border: 0px;
    width: 50%;
             padding-right: 0em; 
     padding-left: 0em; 
}


#config_button_3 {
    background: #97c57e;
    flex-grow: 1;
    color: #2e5916;
    border: 0px;
    width: 50%;
        margin-top: 0px;
                 padding-right: 0em; 
     padding-left: 0em; 
}



#config_button_1:hover {
    background: #dc7b7b;
}

#config_button_2:hover {
    background: #d6af12;
}

#config_button_3:hover {
    background: #6da251;
}


@media all and (max-width: 767px) {
    #config_button_2 {
        margin-left: 0;
        margin-top: 0px;
    }
}
p.short_margin {
    margin-bottom: 10px;
}

div.sheets {
    flex-wrap: wrap;
    display: flex;
    align-items: stretch;
}
div.short_margin {
    margin: 0px;
}
section.short_margin {
    display: none;
}
section.short_margin_visible {
    margin-top: 2em;
        margin-bottom: 40px;
    padding-bottom: 2.25em;
    margin: 0px;
    color: #d27373;
}

@media (min-width: 1200px) {
    section.short_margin_black {
        display: block;

        padding-bottom: 2.25em;
        margin: 0px;
    }
}

@media (min-width: 1200px) {
    section.short_margin {
        display: block;
        padding-top: 2em;
        padding-bottom: 2.25em;
        margin: 0px;
        color: #d27373;
    }
}

@media (min-width: 750px) {
    div.box-header {
         width: 100%;
    height: 350px;
    }
}



