
extends ../../../layout.pug

block content
	body.theme--square(data-reveal-selectors="section:not(.masonry):not(:first-of-type):not(.parallax)")
		.main-container.transition--fade
			include includes/header_easy_pack_4.pug
			section
				.container.sheets
					each boxTokke in boxTokkes 
						include includes/tokke_easy._pack_four.pug
			section
				.container.pos-vertical-center
					.col-sm-10.col-sm-offset-1.text-center
						p.lead
							| Configura los Tøkkes a tu gusto. Puedes añadir tantos Tøkkes como desees y borrar los que no quieras.
							| Al finalizar de configurarlos haz la preorden.
						a.btn(href="/thanks")
							span.btn__text PREORDENAR EASY-PACK
		.modal-container(data-autoshow='500')
			.modal-content.height--natural
				.card.card-1
					.card__image.bg--white
						img(alt='Pic', src='/../img/tokke_modal.jpg')
					.card__body.boxed.bg--white.text-center
						.card__title
							h4 ¿Qué hará tu Easy Pack? Configúra aquí tus 4 Tøkkes antes de tu Pre-Orden.
							|
						P 	NO NECESITARÁS NINGUNA TARJETA DE CRÉDITO –NI HACER PAGOS– EN NINGÚN MOMENTO DEL PROCESO.
						a.modal-close.btn.btn--sm(href='#')
							span.btn__text
								| ¡OK! Entendido.
			// end of modal-content


