extends ../layout.pug

block content
  .loader
  .main-container.transition--fade
    section.height-50.page-title.page-title--animate
      .container.pos-vertical-center
        .row
          .col-sm-12.text-center
            h1 Tøkkes Información
        // end row
      // end container
    section.container
      // box content
      .row
        // left navigation colum
        .col-md-4.hidden-sm.hidden-xs.pull-left.clearfix
          .sidebar
            .sidebar__widget
              h6 TØKKES INFORMACIÓN
              hr
              ul.link-list
                li
                  a(href='#')
                    | Tecnología
                li
                  a(href='#')
                    | Teléfonos compatibles
                li
                  a(href='#')
                    | Configuración de los Tøkkes
                li
                  a(href='#')
                    | Configuración del teléfono
                li
                  a(href='#')
                    | Tøkkes en casa
                li
                  a(href='#')
                    | FAQ
                li
                  a(href='#')
                    | Condiciones de venta
                li
                  a(href='#')
                    | Condiciones de envio
                li
                  a(href='#')
                    | Garantía y responsabilidad
                li
                  a(href='#')
                    | Prensa
                li
                  a(href='#')
                    | Equipo
            // end widget
            // end widget
            .sidebar__widget
              h6 Sobre Tøkkes
              hr
              p
                | We're a digital focussed collective working with individuals and businesses to establish rich, engaging online presences.
            // end widget
        // text to describe tokkes information
        .col-sm-12.col-md-8
          h5 Nota importante
          p
            | En ningún caso la empresa será responsable de ningún daño directo, indirecto, punitivo, fortuito, especial o consecuente, a la propiedad o la vida, que surja de o en relación con el uso o mal uso de nuestros productos.
          h5 Collection of information
          p
            | At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est.
          ul.bullets
            li
              | Nam libero tempore, cum soluta nobis.
            li
              | Suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?
            li
              | Dignissimos ducimus qui blanditiis praesentium voluptatum
            li
              | Nemo enim ipsam voluptatem quia
          h5 Use of information
          p
            | Nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?
          h5 Sharing of information
          p
            | Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatu
          p
            | Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repella.
      // end of row
      // end of row
      // end of container
