extends ../layout.pug

block content
     // end of modal-container
     .main-container.transition--fade
        section.height-40
          .container.pos-vertical-center
            .row
              .col-sm-12.text-center
                h2 Uso de Tøkkes y Política de Descargo
                span
                  em 22 de junio de 2017
            // end of row
          // end of container
        section.bg--secondary
          .container
            .row
              .col-sm-8.col-sm-offset-2
                h5 Nota importante
                p
                  | En ningún caso la empresa será responsable de ningún daño directo, indirecto, punitivo, fortuito, especial o consecuente, a la propiedad o la vida, que surja de o en relación con el uso o mal uso de nuestros productos.
                h5 Collection of information
                p
                  | At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est.
                ul.bullets
                  li
                    | Nam libero tempore, cum soluta nobis.
                  li
                    | Suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?
                  li
                    | Dignissimos ducimus qui blanditiis praesentium voluptatum
                  li
                    | Nemo enim ipsam voluptatem quia
                h5 Use of information
                p
                  | Nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?
                h5 Sharing of information
                p
                  | Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatu
                p
                  | Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repella.
            // end of row
          // end of container

