extends ../layout.pug

block content
  .main-container
  section.height-100.bg--primary.page-error
    .container.pos-vertical-center
      .row
        .col-sm-12.text-center
          i.icon.icon-Heart.icon--lg
          h1 Muchas gracias por todo.
          h3 Apóyanos en Kicktarter a partir de octubre de 2017
