doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		|
		title Comprar tus Tokkes
		|
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		include includes/styles.pug
	include includes/nav_bar.pug
	block content
		
	include includes/footer.pug
	include includes/scripts.pug
