<a id="top"></a>
<div class="loader"></div>
<div class="main-container">
    <section class="shop-checkout">
        <div id="register" class="container">
            <form ng-submit="register($event)" class="billing-details form--square">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <h2>Registra tu Pre-Orden</h2>
                    </div>
                    <div class="col-md-8 col-md-offset-2 col-sm-12">
                        <h6></h6>
                        <div class="col-sm-12 regsiterField form-group">
                            <label  for="username">nombre de usuario</label>
                            <input ng-model="username" type="text" class="form-control" id="username" placeholder="Crea un nombre de usuario" />
                        </div>
                        <div class="col-sm-12 regsiterField form-group">
                            <label for="password">contraseña</label>
                            <input ng-model="password" type="password"  class="form-control" id="password" placeholder="Crea una contraseña" />
                        </div>

                    </div>
                </div>
                <div class="text-center">
                <button type="submit" class="btn btn-default text-center" >Registrar y guardar preorden</button>
                </div>
            </form>
        </div>
    </section>
</div>


