<footer class="footer-3 bg--white text-center-xs">
    <div class="col-sm-3">
        <img alt="logo" class="logo" src="img/_tokkes_logo_heart.png"> <span>(34) 635 58 18 95</span> <a class="type--underline" href="#">contacto@tokkes.com</a>
    </div>
    <div class="col-sm-6 text-center">
        <ul class="footer__navigation">
            <li>
                <a href="info-sidebar-tokkes.html">MÁS INFO</a>
            </li>
            <li>
                <a href="page-legal-privacy-tokkes.html">LEGAL</a>
            </li>
            <li>
                <a href="page-legal-discharge-tokkes.html">DESCARGO</a>
            </li>
            <li>
                <a href="contact-form-simple-tokkes.html">CONTACTO</a>
            </li>
        </ul>
    </div>
    <div class="col-sm-3 text-right text-center-xs">
        <ul class="social-list">
            <li>
                <a href="#"><i class="socicon-twitter"></i></a>
            </li>
            <li>
                <a href="#"><i class="socicon-dribbble"></i></a>
            </li>
            <li>
                <a href="#"><i class="socicon-vimeo"></i></a>
            </li>
            <li>
                <a href="#"><i class="socicon-instagram"></i></a>
            </li>
        </ul><span class="type--fine-print">© 2017 The Love Matters, S.L.  |  Todos los derechos reservados</span>
    </div>
</footer>
