<!-- navbar tokkes -->
<a id="top"></a>
<div class="loader"></div>
<div class="nav-container">
        <!-- header nav -->
        <div class="nav-bar" data-fixed-at="700">
            <div class="nav-module logo-module left">
                <a href="index.html"><img alt="logo" class="logo logo-dark" src="img/_tokkes_logo_300px.png"> <img alt="logo" class="logo logo-light" src="img/_tokkes_logo_300px.png"></a>
            </div>
            <!--     Module on the eft of the nav bar with the tokkes website navitgation   -->
            <div class="nav-module menu-module left">
                <ul class="menu">
                    <li>
                        <li>
                            <a href="#">CÓMO FUNCIONA</a>
                            <ul>
                                <li>
                                    <a href="info-sidebar-tokkes.html">TECNOLOGIA</a>
                                </li>
                                <li>
                                    <a href="info-sidebar-tokkes.html">TELÉFONOS COMPATIBLES</a>
                                </li>
                                <li class="dropdown">
                                    <a href="#">CONFIGURACIÓN</a>
                                    <ul>
                                        <li>
                                            <a href="info-sidebar-tokkes.html">CONFIGURAR LOS TØKKES</a>
                                        </li>
                                        <li>
                                            <a href="info-sidebar-tokkes.html">CONFIGURAR EL TELÉFONO</a>
                                        </li>
                                        <li>
                                            <a href="info-sidebar-tokkes.html">TØKKES EN CASA</a>
                                        </li>
                                        <li>
                                            <a href="info-sidebar-tokkes.html">FAQ</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">COMPRAR</a>
                            <ul>
                                <li>
                                    <a href="/tokkes">Unidades Individuales</a>
                                </li>
                                <li class="dropdown">
                                    <a href="#">Packs Especiales</a>
                                    <ul>
                                        <li>
                                            <a href="tokkes_comprar-caja-12.html">Caja Love de 12 Tøkkes</a>
                                        </li>
                                        <li>
                                            <a href="tokkes_comprar-eassy-pack-8.html">Easy-Pack de 8 Tøkkes</a>
                                        </li>
                                        <li>
                                            <a href="tokkes_comprar-eassy-pack-4.html">Easy-Pack de 4 Tøkkes</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="blog-cards-sidebar-tokkes.html">BLOG</a>
                        </li>
                        <li>
                            <a href="contact-form-simple-tokkes.html">CONTACTO </a>
                        </li>
                        <li>
                            <a href="#!/login"><strong>LOGIN</strong></a>
                        </li>
                        <li>
                            <a href="#!/register"><strong>REGISTER</strong></a>
                        </li>
                </ul>
            </div>

        <!--end nav bar-->
        <div class="nav-mobile-toggle visible-sm visible-xs">
            <i class="icon-Align-JustifyAll icon icon--sm"></i>
        </div>
    </nav>
</div>
</div>




