footer.footer-3.bg--white.text-center-xs
  .col-sm-3
    img.logo(alt='logo', src='/img/_tokkes_logo_heart.png')
    span (34) 635 58 18 95
    a.type--underline(href='#') contacto@tokkes.com
  .col-sm-6.text-center
    ul.footer__navigation
      li
        a(href='/info') MÁS INFO
      li
        a(href='/legal') LEGAL
      li
        a(href='/legalDischarge') DESCARGO
      li
        a(href='/contact') CONTACTO
  .col-sm-3.text-right.text-center-xs
    ul.social-list
      li
        a(href='https://twitter.com/TokkesBox')
          i.socicon-twitter
      li
        a(href='https://www.linkedin.com/company-beta/10112484')
          i.socicon-linkedin
      li
        a(href='https://www.youtube.com/channel/UCEK2kFkTdbBGCufco9QQUWw')
          i.socicon-youtube
      li
        a(href='https://business.facebook.com/TokkesOficial')
          i.socicon-facebook
      li
        a(href='https://www.instagram.com/tokkes/')
          i.socicon-instagram
    span.type--fine-print © 2017 Love Matters, S.L.
