.nav-container
  nav(lass='transition--fade')
    // header nav
    .nav-bar(data-fixed-at='700')
      .nav-module.logo-module.left
        a(href='/')
          img.logo.logo-dark(alt='logo', src='/img/_tokkes_logo_300px.png')
          img.logo.logo-light(alt='logo', src='/img/_tokkes_logo_300px.png')
      // Module on the eft of the nav bar with the tokkes website navitgation
      .nav-module.menu-module.left
        ul.menu
          li
          li
            a(href='#') CÓMO FUNCIONA
            ul
              li
                a(href='/tech') TECNOLOGIA
              li
                a(href='/compatibility') TELÉFONOS COMPATIBLES
              li.dropdown
                a(href='#') CONFIGURACIÓN
                ul
                  li
                    a(href='/setup') CONFIGURAR LOS TØKKES
                  li
                    a(href='/phoneSetup') CONFIGURAR EL TELÉFONO
                  li
                    a(href='/atHome') TØKKES EN CASA
                  li
                    a(href='/faq') FAQ
          li
            a(href='#') COMPRAR
            ul
              li
                a(href='/tokkes') Unidades Individuales
              li.dropdown
                a(href='#') Packs Especiales
                ul
                  li
                    a(href='/box/love') Caja Love de 12 Tøkkes
                  li
                    a(href='/box/easyPack8') Easy-Pack de 8 Tøkkes
                  li
                    a(href='/box/easyPack4') Easy-Pack de 4 Tøkkes
          li
            a(href='https://tokkesblog.wordpress.com/') BLOG
    // end nav bar
    .nav-mobile-toggle.visible-sm.visible-xs
      i.icon-Align-JustifyAll.icon.icon--sm