script(src='/js/jquery-2.1.4.min.js')
script(src='/js/scrollreveal.min.js')
script(src='js/isotope.min.js')
script(src='js/owl.carousel.min.js')
script(src='/js/parallax.js')
script(src='/js/scripts.js')
script(src='/js/eventsTokkes.js')
