section.imagebg.image--light.height-60(data-overlay='1')
  .background-image-holder
    img(alt='image', src='/img/header_pack_4_tokkes.jpg')
  .container.pos-vertical-center
    .col-sm-10.col-sm-offset-1.text-center
      h1 Easy-Pack 8 Tøkkes 
      p.lead
        | Con Tøkkes las personas mayores o los niños víctimas de un accidente en el hogar no necesitan desbloquear el móvil o buscar un número para pedir ayuda.
      .col-sm-12.text-center
        h3 Precio total 20€ 
      a.btn(href='/thanks')
        span.btn__text PREORDENAR EASY-PACK DE 8 TØKKES
