section.imagebg.image--light.height-100(data-overlay='1')
  .background-image-holder.background--top
    img.img_hidden(alt='image', src='/img/header_pack_12_tokkes.jpg')
  .container.pos-vertical-center
    .col-sm-10.text-center.box-header
      h1 Tøkkes Box Love
      a.btn(href='shop-cart-tokkes.html')
        span.btn__text PREORDENAR POR SOLO 35 EUROS 
